.slot-machine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  flex-wrap: wrap;
  flex-direction: column;
}

.slot {
  width: 35rem;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.slot span {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
}

.spin-button {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff4b6b;
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-size: 24px;
}

.spin-button button {
  padding: 10px 20px;
  font-size: 16px;
}

.slot-img {
  width: 150px;
  height: 150px;
  transition: transform 0.5s ease;
}

.slot-img.spin-effect {
  transform: rotateY(15deg);
}

.point {
  display: grid;
  place-items: center;
  color: white;
}

.real-point {
  font-size: 24px;
}
