.navbar {
  padding: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

a {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  color: white;
}
